<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<data>
	eyJwYWdlIjoxLCJyZXN1bHRzIjpbeyJwb3N0ZXJfcGF0aCI6IlwvYWR3NkxxOUZpQzl6
	allFcE9xZnEwM2l0dXdwLmpwZyIsImFkdWx0IjpmYWxzZSwib3ZlcnZpZXciOiJBIHRp
	Y2tpbmctdGltZS1ib21iIGluc29tbmlhYyBhbmQgYSBzbGlwcGVyeSBzb2FwIHNhbGVz
	bWFuIGNoYW5uZWwgcHJpbWFsIG1hbGUgYWdncmVzc2lvbiBpbnRvIGEgc2hvY2tpbmcg
	bmV3IGZvcm0gb2YgdGhlcmFweS4gVGhlaXIgY29uY2VwdCBjYXRjaGVzIG9uLCB3aXRo
	IHVuZGVyZ3JvdW5kIFwiZmlnaHQgY2x1YnNcIiBmb3JtaW5nIGluIGV2ZXJ5IHRvd24s
	IHVudGlsIGFuIGVjY2VudHJpYyBnZXRzIGluIHRoZSB3YXkgYW5kIGlnbml0ZXMgYW4g
	b3V0LW9mLWNvbnRyb2wgc3BpcmFsIHRvd2FyZCBvYmxpdmlvbi4iLCJyZWxlYXNlX2Rh
	dGUiOiIxOTk5LTEwLTE1IiwiZ2VucmVfaWRzIjpbMThdLCJpZCI6NTUwLCJvcmlnaW5h
	bF90aXRsZSI6IkZpZ2h0IENsdWIiLCJvcmlnaW5hbF9sYW5ndWFnZSI6ImVuIiwidGl0
	bGUiOiJGaWdodCBDbHViIiwiYmFja2Ryb3BfcGF0aCI6IlwvODdoVERpYXkyTjJxV3lY
	NERzN3liWGk5aDhJLmpwZyIsInBvcHVsYXJpdHkiOjEwLjEzNzQ2Mywidm90ZV9jb3Vu
	dCI6NzY2NSwidmlkZW8iOmZhbHNlLCJ2b3RlX2F2ZXJhZ2UiOjguMn0seyJwb3N0ZXJf
	cGF0aCI6IlwvN2s5ZGI3cEp5VGFWYnozRzRlc2hHbHRpdlIxLmpwZyIsImFkdWx0Ijpm
	YWxzZSwib3ZlcnZpZXciOiJJdCdzIHRoZSBlbmQgb2YgdGhlIGNlbnR1cnkgYXQgYSBj
	b3JuZXIgb2YgdGhlIGNpdHkgaW4gYSBidWlsZGluZyByaWRkbGVkIHdpdGggY3JpbWUg
	LSBFdmVyeW9uZSBpbiB0aGUgYnVpbGRpbmcgaGFzIHR1cm5lZCBpbnRvIHpvbWJpZXMu
	IEFmdGVyIEplbm55J3MgYm95ZnJpZW5kIGlzIGtpbGxlZCBpbiBhIHpvbWJpZSBhdHRh
	Y2ssIHNoZSBmYWNlcyB0aGUgY2hhbGxlbmdlIG9mIHN1cnZpdmluZyBpbiB0aGUgZmFj
	ZSBvZiBhZHZlcnNpdHkuIEluIG9yZGVyIHRvIHN0YXkgYWxpdmUsIHNoZSBzdHJ1Z2ds
	ZXMgd2l0aCBBbmR5IHRvIGZsZWUgZGFuZ2VyLiIsInJlbGVhc2VfZGF0ZSI6IjIwMTQt
	MTAtMjMiLCJnZW5yZV9pZHMiOlsyOCwyN10sImlkIjoyODk3MzIsIm9yaWdpbmFsX3Rp
	dGxlIjoiWm9tYmllIEZpZ2h0IENsdWIiLCJvcmlnaW5hbF9sYW5ndWFnZSI6InpoIiwi
	dGl0bGUiOiJab21iaWUgRmlnaHQgQ2x1YiIsImJhY2tkcm9wX3BhdGgiOiJcL3FyWnNz
	SThrb1VkUnhrWW5yT0tNUlkzbTVGcS5qcGciLCJwb3B1bGFyaXR5IjoxLjQ0OTQxNywi
	dm90ZV9jb3VudCI6OSwidmlkZW8iOmZhbHNlLCJ2b3RlX2F2ZXJhZ2UiOjMuN30seyJw
	b3N0ZXJfcGF0aCI6IlwvOTRrZTRvSlZYeE02enVUZFprdFY3U1BDU1V5LmpwZyIsImFk
	dWx0IjpmYWxzZSwib3ZlcnZpZXciOiJGb3VyIGZyaWVuZHMgaGVhZCBvZmYgdG8gQm9t
	YmF5IGFuZCBnZXQgaW52b2x2ZWQgaW4gdGhlIG1vdGhlciBhbmQgZmF0aGVyIG9mIGFs
	bCBnYW5nIHdhcnMuIiwicmVsZWFzZV9kYXRlIjoiMjAwNi0wMi0xNyIsImdlbnJlX2lk
	cyI6WzI4XSwiaWQiOjM0NzgwNywib3JpZ2luYWxfdGl0bGUiOiJGaWdodCBDbHViOiBN
	ZW1iZXJzIE9ubHkiLCJvcmlnaW5hbF9sYW5ndWFnZSI6ImhpIiwidGl0bGUiOiJGaWdo
	dCBDbHViOiBNZW1iZXJzIE9ubHkiLCJiYWNrZHJvcF9wYXRoIjpudWxsLCJwb3B1bGFy
	aXR5IjoxLjAwMDQ1Nywidm90ZV9jb3VudCI6MSwidmlkZW8iOmZhbHNlLCJ2b3RlX2F2
	ZXJhZ2UiOjF9LHsicG9zdGVyX3BhdGgiOiJcL282U2EyNHRHRjl2YThGbk10UjVVajdJ
	Y3g4SC5qcGciLCJhZHVsdCI6ZmFsc2UsIm92ZXJ2aWV3IjoiQSBmb3JtZXIgZmlnaHRl
	ciByZWx1Y3RhbnRseSByZXR1cm5zIHRvIHRoZSBsaWZlIHNoZSBhYmFuZG9uZWQgaW4g
	b3JkZXIgdG8gaGVscCBoZXIgc2lzdGVyIHN1cnZpdmUgdGhlIHNhZGlzdGljIHdvcmxk
	IG9mIGlsbGVnYWwgZmlnaHRpbmcgYW5kIHRoZSBtYW5pYWMgd2hvIHJ1bnMgaXQuIiwi
	cmVsZWFzZV9kYXRlIjoiMjAxNy0wMy0xNiIsImdlbnJlX2lkcyI6WzI4XSwiaWQiOjQ0
	MDc3Nywib3JpZ2luYWxfdGl0bGUiOiJGZW1hbGUgRmlnaHQgQ2x1YiIsIm9yaWdpbmFs
	X2xhbmd1YWdlIjoiZW4iLCJ0aXRsZSI6IkZlbWFsZSBGaWdodCBDbHViIiwiYmFja2Ry
	b3BfcGF0aCI6bnVsbCwicG9wdWxhcml0eSI6MS4yMzI3NjQsInZvdGVfY291bnQiOjIs
	InZpZGVvIjpmYWxzZSwidm90ZV9hdmVyYWdlIjo5LjV9LHsicG9zdGVyX3BhdGgiOiJc
	LzY1ZlpLb0pDeG1BbGF6djlNdWNGcTFHVHJQbC5qcGciLCJhZHVsdCI6ZmFsc2UsIm92
	ZXJ2aWV3IjoiQW4gdW5kZXJ3b3JsZCBkcmFtYSBzZXQgaW4gdGhlIGVhcmx5IDE5ODBz
	LCBhYm91dCBhIGxvbmVseSBmYWN0b3J5IHdvcmtlciB3aG9zZSBsaWZlIGlzIHRyYW5z
	Zm9ybWVkIHdoZW4gaGUgYmVjb21lcyBhIG5pZ2h0Y2x1YiBkb29ybWFuLiIsInJlbGVh
	c2VfZGF0ZSI6IjIwMDgtMTAtMDIiLCJnZW5yZV9pZHMiOlsxOCwyOCw1Myw4MF0sImlk
	IjoxNDQ3Niwib3JpZ2luYWxfdGl0bGUiOiJDbHViYmVkIiwib3JpZ2luYWxfbGFuZ3Vh
	Z2UiOiJlbiIsInRpdGxlIjoiQ2x1YmJlZCIsImJhY2tkcm9wX3BhdGgiOiJcL3V5d0I0
	WlM2aUN1YzRhQ0lzQU95aFc0c0ZaSi5qcGciLCJwb3B1bGFyaXR5IjoxLjM2MjcyNywi
	dm90ZV9jb3VudCI6MjIsInZpZGVvIjpmYWxzZSwidm90ZV9hdmVyYWdlIjo3LjN9LHsi
	cG9zdGVyX3BhdGgiOiJcL2x1V3BQNVdTdzlKamJXUzFKNEJNbmpra0pDWC5qcGciLCJh
	ZHVsdCI6ZmFsc2UsIm92ZXJ2aWV3IjoiRnJvbSB0aGUgYmlydGhwbGFjZSBvZiBib3hp
	bmcgbGVnZW5kIE1pa2UgVHlzb24sIHlvdW5nIHdvbWVuIGJyYXdsIGluIHNlY3JldCBm
	aWdodCBjbHVicyB0byB3aW4gJDEwMDAgYW5kIGludmFsdWFibGUgc3RyZWV0IGNyZWQu
	IiwicmVsZWFzZV9kYXRlIjoiIiwiZ2VucmVfaWRzIjpbOTldLCJpZCI6MjA5NTk5LCJv
	cmlnaW5hbF90aXRsZSI6IkJyb29rbHluIEdpcmxzIEZpZ2h0IENsdWIiLCJvcmlnaW5h
	bF9sYW5ndWFnZSI6ImVuIiwidGl0bGUiOiJCcm9va2x5biBHaXJscyBGaWdodCBDbHVi
	IiwiYmFja2Ryb3BfcGF0aCI6bnVsbCwicG9wdWxhcml0eSI6MS4wMDY3NSwidm90ZV9j
	b3VudCI6MSwidmlkZW8iOmZhbHNlLCJ2b3RlX2F2ZXJhZ2UiOjd9LHsicG9zdGVyX3Bh
	dGgiOiJcL21MaHdCUVBWM2lBVGUzTDYxa2JwbXhBTndMOC5qcGciLCJhZHVsdCI6ZmFs
	c2UsIm92ZXJ2aWV3IjoiQSBncm91cCBvZiBmcmllbmRzIGhhdmUgY3JlYXRlZCBhIGJy
	YW5kIG5ldyBzdWJjdWx0dXJlIHRoYXQgaXMgdGFraW5nIG92ZXIgdGhlIHN0cmVldHMg
	b2YgR2xhc2dvdy4gVGhleSd2ZSBlc3RhYmxpc2hlZCB0aGVpciB2ZXJ5IG93biBmaWdo
	dCBjbHViLCBidXQgdGhpcyBpcyBubyBvcmRpbmFyeSB3cmVzdGxpbmcgZXZlbnQgLSB0
	aGlzIGlzIGJydXRhbCwgcmlvdG91cyBjaGFvcy4gRmlnaHRzIGRvbid0IGFsd2F5cyBz
	dGF5IGluc2lkZSB0aGUgcmluZywgcGVvcGxlIGFyZSBib3VuY2VkIG9mZiB0aGUgc2lk
	ZSBvZiBidXNlcyBhbmQgdGhyb3duIG9mZiBiYWxjb25pZXMgaW4gcHVicy4gVGhleSBu
	b3cgcGxhbiB0aGUgYmlnZ2VzdCBzaG93IG9mIHRoZWlyIGxpdmVzLiBUaGUgc3Rha2Vz
	IGFyZSBoaWdoLCB3aWxsIGl0IGJyaW5nIHRoZW0gdGhlIGZhbWUgYW5kIHJlY29nbml0
	aW9uIHRoZXkgbmVlZCB0byBzdXJ2aXZlPyIsInJlbGVhc2VfZGF0ZSI6IjIwMTQtMDMt
	MTEiLCJnZW5yZV9pZHMiOls5OV0sImlkIjoyNTkwMTYsIm9yaWdpbmFsX3RpdGxlIjoi
	SW5zYW5lIEZpZ2h0IENsdWIiLCJvcmlnaW5hbF9sYW5ndWFnZSI6ImVuIiwidGl0bGUi
	OiJJbnNhbmUgRmlnaHQgQ2x1YiIsImJhY2tkcm9wX3BhdGgiOm51bGwsInBvcHVsYXJp
	dHkiOjEuMDAxOTQ5LCJ2b3RlX2NvdW50IjowLCJ2aWRlbyI6ZmFsc2UsInZvdGVfYXZl
	cmFnZSI6MH0seyJwb3N0ZXJfcGF0aCI6IlwvYVJUWDVZNTJ5R2JWTDZUR255STRFOGpq
	dHo0LmpwZyIsImFkdWx0IjpmYWxzZSwib3ZlcnZpZXciOiJBIGNvbW11bml0eSBpcyB1
	bmRlciBzaWVnZSBhcyB0aHJlZSBCZWxtb250IEhpZ2hzY2hvb2wgY29lZCBzdHVkZW50
	cyBnbyBtaXNzaW5nIHdpdGggbm8gdHJhY2Ugb2YgdGhlaXIgd2hlcmVhYm91dHMuIFRo
	ZSBwcmVzc3VyZSBpcyBvbiB0aGUgcG9saWNlIHRvIGNhcHR1cmUgdGhlIGN1bHByaXRz
	IHJlc3BvbnNpYmxlLiBTY291cmluZyB0aGUgc2Nob29sIGhhbGx3YXlzIGluIHNlYXJj
	aCBvZiBjbHVlcywgdW5kZXJjb3ZlciBmZW1hbGUgZGV0ZWN0aXZlIE1hZ2dpZSBSYXdk
	b24gKEplc3NpY2EgU29ubmVyYm9ybikgZW50ZXJzIEJlbG1vbnQgSGlnaCBhcyBhIHRy
	YW5zZmVyIHN0dWRlbnQgaW4gYW4gYXR0ZW1wdCB0byBzb2x2ZSB0aGUgaGlkZW91cyBk
	aXNhcHBlYXJhbmNlIG9mIHRoZSBzdHVkZW50cy4gTWFnZ2llIG1ha2VzIGEgZmV3IG5l
	dyBmcmllbmRzLCBhbmQgZ2V0cyBpbnZpdGVkIHRvIGEgcHJpdmF0ZSByYXZlIGluIHRo
	ZSBjb3VudHJ5LiBKdXN0IGFzIHRoZSBncm91cCBiZWdpbnMgdG8gc3VzcGVjdCB0aGF0
	IHRoZXkndmUgdGFrZW4gYSB3cm9uZyB0dXJuLCBob3dldmVyLCB0aGUgdHJhcCBpcyBz
	cHJ1bmcgYW5kIE1hZ2dpZSBmaW5kcyBvdXQgZmlyc3RoYW5kIHdoYXQgZmF0ZSBoYXMg
	YmVmYWxsZW4gdGhlIG1pc3NpbmcgZ2lybHMuIiwicmVsZWFzZV9kYXRlIjoiMjAxMC0x
	MS0xNiIsImdlbnJlX2lkcyI6WzI4LDE4LDgwXSwiaWQiOjUxMDIxLCJvcmlnaW5hbF90
	aXRsZSI6Ikx1cmU6IFRlZW4gRmlnaHQgQ2x1YiIsIm9yaWdpbmFsX2xhbmd1YWdlIjoi
	ZW4iLCJ0aXRsZSI6Ikx1cmU6IFRlZW4gRmlnaHQgQ2x1YiIsImJhY2tkcm9wX3BhdGgi
	OiJcLzVzV1pSQ3NqekgxRHhvNmdTQmVYNFJwQVE0cC5qcGciLCJwb3B1bGFyaXR5Ijox
	LjAwMTEyNCwidm90ZV9jb3VudCI6NSwidmlkZW8iOmZhbHNlLCJ2b3RlX2F2ZXJhZ2Ui
	OjN9LHsicG9zdGVyX3BhdGgiOiJcL2VRcXF1MHNyVFljY2xXcXlsdmdwTHlVODdoVi5q
	cGciLCJhZHVsdCI6ZmFsc2UsIm92ZXJ2aWV3IjoiRm91ciBtZW4gZGVjaWRlZCB0byBl
	bnRlciBpbiB0aGUgb2xkZXN0IEZpZ2h0IENsdWIgb2YgdGhlIEhpc3RvcnksIFRoZSBG
	bG9yZW50aW5lIEZvb3RiYWxsIHRvdXJuYW1lbnQuIEEgZmF0aGVyIGFuZCBzb24sIGEg
	YmxhY2sgZ3V5LCBhbiBvbGQgY2hhbXBpb24gYW5kIG91dHNpZGVyIGNsZXJrIHdpbGwg
	ZW50ZXIgaW4gYW4gYXJlbmEgb2YgdGhlIHRpbWUgdG8gd2luIHRoZWlyIGZlYXJzLCB0
	byBnbyBvdmVyIHRoZWlyIGxpbWl0cywgdG8gYmUgaGVyb2VzIGZvciBhIGRheS4iLCJy
	ZWxlYXNlX2RhdGUiOiIyMDEwLTAxLTAxIiwiZ2VucmVfaWRzIjpbMjgsNTNdLCJpZCI6
	MTA0NzgyLCJvcmlnaW5hbF90aXRsZSI6IkZsb3JlbmNlIEZpZ2h0IENsdWIiLCJvcmln
	aW5hbF9sYW5ndWFnZSI6ImVuIiwidGl0bGUiOiJGbG9yZW5jZSBGaWdodCBDbHViIiwi
	YmFja2Ryb3BfcGF0aCI6IlwvdGNvQUd2VG85NlI3WTlaR1ZDQ3o3Qlp2cnZiLmpwZyIs
	InBvcHVsYXJpdHkiOjEuMDAwODc1LCJ2b3RlX2NvdW50IjowLCJ2aWRlbyI6ZmFsc2Us
	InZvdGVfYXZlcmFnZSI6MH0seyJwb3N0ZXJfcGF0aCI6bnVsbCwiYWR1bHQiOmZhbHNl
	LCJvdmVydmlldyI6IlRoZSBiZXN0IHdvbWVuJ3Mgd3Jlc3RsaW5nIGNvbXBldGl0aW9u
	IG9mIGFsbCB0aW1lLi4uYW5kIGlmIHlvdSB0aGluayBpdCdzIGZha2UgeW91J3JlIGlu
	IGZvciBhIGJpZyBzdXJwcmlzZSBTZWUgTEVHRU5EQVJZIE1peGVkIE1hcnRpYWwgQXJ0
	cyBmaWdodGVycyBjb2FjaCB0aGVpciB0ZWFtcyB0byB2aWN0b3J5IGluIHRoZSBjYWdl
	ISBha2EgQ2h1Y2sgTGlkZWxsJ3MgR2lybCdzIEZpZ2h0IENsdWIiLCJyZWxlYXNlX2Rh
	dGUiOiIyMDA5LTA2LTE4IiwiZ2VucmVfaWRzIjpbXSwiaWQiOjI4OTEwMCwib3JpZ2lu
	YWxfdGl0bGUiOiJHaXJscyBGaWdodCBDbHViIiwib3JpZ2luYWxfbGFuZ3VhZ2UiOiJl
	biIsInRpdGxlIjoiR2lybHMgRmlnaHQgQ2x1YiIsImJhY2tkcm9wX3BhdGgiOm51bGws
	InBvcHVsYXJpdHkiOjEuMDAwNjcyLCJ2b3RlX2NvdW50IjowLCJ2aWRlbyI6ZmFsc2Us
	InZvdGVfYXZlcmFnZSI6MH0seyJwb3N0ZXJfcGF0aCI6IlwvQXdFQ0VqamVuNGVZU0Ra
	M0FFVFhuRkc2ZGd1LmpwZyIsImFkdWx0IjpmYWxzZSwib3ZlcnZpZXciOiJKdXJhc3Np
	YyBGaWdodCBDbHViLCBhIHBhbGVvbnRvbG9neS1iYXNlZCBtaW5pc2VyaWVzIHRoYXQg
	cmFuIGZvciAxMiBlcGlzb2RlcywgZGVwaWN0cyBob3cgcHJlaGlzdG9yaWMgYmVhc3Rz
	IGh1bnRlZCB0aGVpciBwcmV5LCBkaXNzZWN0aW5nIHRoZXNlIGJhdHRsZXMgYW5kIHVu
	Y292ZXJpbmcgYSBwcmVkYXRvcnkgd29ybGQgZmFyIG1vcmUgY2FsY3VsYXRlZCBhbmQg
	Y29tcGxleCB0aGFuIG9yaWdpbmFsbHkgdGhvdWdodC4gSXQgd2FzIGhvc3RlZCBieSBH
	ZW9yZ2UgQmxhc2luZywgYSBzZWxmLXRhdWdodCBwYWxlb250b2xvZ2lzdC4iLCJyZWxl
	YXNlX2RhdGUiOiIyMDA4LTEwLTIyIiwiZ2VucmVfaWRzIjpbOTldLCJpZCI6MTUxOTEy
	LCJvcmlnaW5hbF90aXRsZSI6Ikp1cmFzc2ljIEZpZ2h0IENsdWIiLCJvcmlnaW5hbF9s
	YW5ndWFnZSI6ImRlIiwidGl0bGUiOiJKdXJhc3NpYyBGaWdodCBDbHViIiwiYmFja2Ry
	b3BfcGF0aCI6bnVsbCwicG9wdWxhcml0eSI6MS4wMDA2NjUsInZvdGVfY291bnQiOjEs
	InZpZGVvIjpmYWxzZSwidm90ZV9hdmVyYWdlIjo3fSx7InBvc3Rlcl9wYXRoIjoiXC81
	aXRWaTJPY0tBa1RVSzB4dFZ4dWVLVVJiMVcuanBnIiwiYWR1bHQiOmZhbHNlLCJvdmVy
	dmlldyI6IiIsInJlbGVhc2VfZGF0ZSI6IjIwMDUtMDgtMTIiLCJnZW5yZV9pZHMiOltd
	LCJpZCI6Mjk1NDc3LCJvcmlnaW5hbF90aXRsZSI6IkZpZ2h0IGNsdWIgY2FtcCBrdXNz
	ZSIsIm9yaWdpbmFsX2xhbmd1YWdlIjoiZGEiLCJ0aXRsZSI6IkZpZ2h0IGNsdWIgY2Ft
	cCBrdXNzZSIsImJhY2tkcm9wX3BhdGgiOm51bGwsInBvcHVsYXJpdHkiOjEuMDAwNDM0
	LCJ2b3RlX2NvdW50IjowLCJ2aWRlbyI6ZmFsc2UsInZvdGVfYXZlcmFnZSI6MH0seyJw
	b3N0ZXJfcGF0aCI6IlwvZW1TdDAxMXpNVG5JQW8xaDd6dmlRSEI1NVliLmpwZyIsImFk
	dWx0IjpmYWxzZSwib3ZlcnZpZXciOiJBIG1hcnRpYWwgYXJ0cyBpbnN0cnVjdG9yIG11
	c3QgZW50ZXIgdGhlIHdvcmxkIG9mIGlsbGVnYWwgcGl0IGZpZ2h0aW5nIGluIG9yZGVy
	IHRvIHNhdmUgaGlzIGZhbWlseSBhbmQgaGlzIGRvam8uIiwicmVsZWFzZV9kYXRlIjoi
	MjAxMy0wOC0yNyIsImdlbnJlX2lkcyI6WzI4LDE4LDgwXSwiaWQiOjIxOTg5Nywib3Jp
	Z2luYWxfdGl0bGUiOiJCYXJyaW8gQnJhd2xlciIsIm9yaWdpbmFsX2xhbmd1YWdlIjoi
	ZGUiLCJ0aXRsZSI6IkJhcnJpbyBCcmF3bGVyIiwiYmFja2Ryb3BfcGF0aCI6Ilwvc2xE
	dkJzM2puMEMwOHZ1eXZMSmtpa1VONnF1LmpwZyIsInBvcHVsYXJpdHkiOjEuMDAwMDks
	InZvdGVfY291bnQiOjQsInZpZGVvIjpmYWxzZSwidm90ZV9hdmVyYWdlIjo0fSx7InBv
	c3Rlcl9wYXRoIjoiXC84NG1jVjlreTRUU3BEN2RwSG5zeDd5QlZzNjQuanBnIiwiYWR1
	bHQiOmZhbHNlLCJvdmVydmlldyI6Ikluc2FuZSBGaWdodCBDbHViIGlzIGJhY2suIFRo
	aXMgeWVhciB0aGUgYm95cyBhcmUgdGFraW5nIHRoZWlyIHVuaXF1ZSBmb3JtIG9mIGVu
	dGVydGFpbm1lbnQgdG8gRW5nbGFuZCBhcyB0aGV5IHN0YWdlIGZpZ2h0IG5pZ2h0cyBp
	biBCaXJtaW5naGFtLCBMZWVkcywgTGl2ZXJwb29sIGFuZCBOZXdjYXN0bGUuIiwicmVs
	ZWFzZV9kYXRlIjoiMjAxNS0wMS0yMSIsImdlbnJlX2lkcyI6Wzk5XSwiaWQiOjMyMjc3
	Miwib3JpZ2luYWxfdGl0bGUiOiJJbnNhbmUgRmlnaHQgQ2x1YiBJSSAtIFRoaXMgVGlt
	ZSBJdOKAmXMgUGVyc29uYWwiLCJvcmlnaW5hbF9sYW5ndWFnZSI6ImVuIiwidGl0bGUi
	OiJJbnNhbmUgRmlnaHQgQ2x1YiBJSSAtIFRoaXMgVGltZSBJdOKAmXMgUGVyc29uYWwi
	LCJiYWNrZHJvcF9wYXRoIjpudWxsLCJwb3B1bGFyaXR5IjoxLjAwMjcxOCwidm90ZV9j
	b3VudCI6MCwidmlkZW8iOmZhbHNlLCJ2b3RlX2F2ZXJhZ2UiOjB9XSwidG90YWxfcmVz
	dWx0cyI6MTQsInRvdGFsX3BhZ2VzIjoxfQ==
	</data>
	<key>headers</key>
	<dict>
		<key>Access-Control-Allow-Origin</key>
		<string>*</string>
		<key>Access-Control-Expose-Headers</key>
		<string>ETag, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After</string>
		<key>Cache-Control</key>
		<string>public, max-age=21600</string>
		<key>Connection</key>
		<string>keep-alive</string>
		<key>Content-Encoding</key>
		<string>gzip</string>
		<key>Content-Length</key>
		<string>3219</string>
		<key>Content-Type</key>
		<string>application/json;charset=utf-8</string>
		<key>Date</key>
		<string>Thu, 18 May 2017 00:57:46 GMT</string>
		<key>Server</key>
		<string>openresty</string>
		<key>Vary</key>
		<string>Accept-Encoding</string>
		<key>X-RateLimit-Limit</key>
		<string>40</string>
		<key>X-RateLimit-Remaining</key>
		<string>39</string>
		<key>X-RateLimit-Reset</key>
		<string>1495069076</string>
	</dict>
	<key>url</key>
	<string>http://api.themoviedb.org/3/search/movie?api_key=2696829a81b1b5827d515ff121700838&amp;query=fight%20club</string>
</dict>
</plist>
